
/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #222549;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
}

h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
}
h1 {
  letter-spacing: 4px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #333333;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #567e8f;
}
